# Ignore Excel files
*.xlsx
*.xlsm
*.xlsb
*.xltx
*.xltm

# Ignore package-specific files
bin/
obj/
*.dll
*.pdb
*.exe
*.log
*.tmp

# Ignore user-specific files
.vscode/
*.user
*.suo
*.cache
*.config
*.csproj.user

# Ignore build artifacts
Debug/
Release/

# Ignore temporary files
~$*
/.cr
/.vs
